@import url("https://fonts.googleapis.com/css?family=Roboto:200,200i,300i,400,400i,500,500i");
body {
  font-family: 'roboto', sans-serif;
  background-color: #fefefe; }

p {
  opacity: .9;
  font-size: .9rem; }

.card {
  background-color: white;
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
  .card .card-title {
    font-weight: 400;
    font-size: 1.6rem; }
  .card .card-subtitle {
    font-weight: 500;
    font-size: 1rem;
    opacity: .5; }
  .card.card-cascade i {
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
    .card.card-cascade i img {
      width: 100%; }
  .card.card-cascade [class*=card-img-] {
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .card.card-cascade.card-cascade-wider i {
    transform: scale(1.07);
    margin-bottom: .8rem; }
  .card.card-cascade.card-cascade-narrower i {
    transform: scale(0.92) translateY(-1.8rem);
    margin-bottom: -1rem; }
  .card .card-img-overlay {
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(20, 20, 20, 0.5); }
